*{
color: white;
}

body{
	background: #16a085;
}

h1{
	font-size: 50px;
	color: #4f4f4f;
	text-align: center;
}

h4{
	font-size: 20px;
	text-align: center;
}

p{
	font-size: 30px;
}

#Fisica{
	width: 1024px;
}

#Fisica h1{
	background-color: #1abc9c;
}

.left{
	width: 50%;
	position: relative;
	display: block;
	float: left;
}

.right{
	width: 50%;
	position: relative;
	display: inline;
	float: right;
}

#integrantes{
	background-color: #1abc9c;
	font-size: 25px;
	text-align: right;
	border: 2px dashed #aaa;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.slide{
	background-color: #1abc9c;/*#bdbdbd;*/
	border: 0px;
}

.tutorial {
	border-radius: 10px;
	border: 2px dashed white;
	width: 950px;
	height: 750px;
}

.center{
	margin: auto;
}

.clear{
	clear: both;
}

#clip{
	position: absolute;
	right: 50px;
}

img{
	display: block;
	margin: auto;
}

.inline{
	display: inline-block;
}

.tutorial .container .hide{
	display: none;
	margin: auto;
}

.tutorial.present .container .hide{
	display: block;
	margin: auto;
}

.parrafo{
	text-align: center;
}

.parrafo p{
	font-size: 20px;
}

#Fgrama{
	clear: both;
}